---
Language: Cpp
BasedOnStyle: WebKit
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: All
AlwaysBreakTemplateDeclarations: Yes
IndentRequires: true
AlignAfterOpenBracket: AlwaysBreak
IndentPPDirectives: BeforeHash
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
