name: Check coding style with clang-format

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install clang-format
        run: |
          wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key|sudo apt-key add -
          sudo apt-get install clang-format-12
          clang-format-12 --version
      - name: Check for clang-format errors
        run: >
          find -type f \( -iname "*.cpp" -o -iname "*.hpp" \)
          -exec clang-format-12 --Werror --style=file --dry-run {} +
